@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
body {
    font-family: "Titillium Web", sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.forgotPassword {
    border: 3px;
    border-width: 0.3rem;
    border-style: dashed;
    border-color: black;
    border-radius: 25px;
    padding: 4rem;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    margin-left: 40rem;
    margin-right: 40rem;
}
.forgotPassword input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
}
.forgotPassword button {
    width: 85%;
    padding: 15px;
    margin: 20px auto;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.forgotPassword button#back {
    background-color: #f44336;
}
.forgotPassword button#back:hover {
    background-color: #e53935;
}
.forgotPassword button#change {
    background-color: #4CAF50;
}
.forgotPassword button#change:hover {
    background-color: #45a049;
}
.forgotPassword h2, .forgotPassword h3 {
    cursor: pointer;
    font-size: 0.7rem;
    margin-top: 0;
    margin-bottom: 0;
}
