@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
body {
    font-family: "Titillium Web", sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.loginBox {
    border: 3px;
    border-width: 0.3rem;
    border-style:dotted;
    border-color: black;
    border-radius: 25px;
    padding: 4rem;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    margin-left: 40rem;
    margin-right: 40rem;
}
.loginBox h1 {
    text-align: center;
    margin: 0;
}
#usernameBox, #passwordBox {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
}
.loginButton {
    width: 85%;
    padding: 15px;
    margin: 20px auto;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.loginButton:hover {
    background-color: #45a049;
}
#incorrectMessage{
    visibility: hidden;
    background-color: red;
}
#createAccount{
    display: block;
    width: 85%;
    padding: 10px;
    margin: 10px auto;
    font-size: 1rem;
    color: #4CAF50;
    text-decoration: none;
    border: 2px solid #429945;
    border-radius: 5px;
    cursor: pointer;
}
#forgotPassword {
    border: 2px solid #83241d;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: 85%;
    padding: 10px;
    margin: 10px auto;
    font-size: 1rem;
    color: #f44336;
}

#createAccount:hover{
    background-color: #4CAF50;
    color: white;
}
#forgotPassword:hover{
    background-color: #e53935;
    color: white;
}
